<!DOCTYPE html>
<html>
	<head>
		<title>homepage</title>
	</head>
	<body>
	  <h2>Welcome! {{errorMsg}}</h2>
	  <form action="/authenticate/" method="POST">
	    User:<input type="text" name="username">
	    <br>
	    Password:<input type="password" name="password">
	    <br>
	    <input type="submit" value="Submit">
	  </form>
	  <h4>Don't have an account? Make one!</h4>
	  <form action="/register/" method="POST">
	    User:<input type="text" name="usr">
	    <br>
	    Password:<input type="password" name="pwd">
	    <br>
	    <input type="submit" value="Register!">
	  </form>
	</body>
</html>
